<div data-role = "page">
	<div data-role = "header" data-position = "fixed" data-theme = "f">
		<h1>fuseGap</h1>
	</div>
	</br></br>
	<% if current_user.email != nil %>
		<div data-role = "content" style = "text-align: center">
			<p style = "font-weight: bold; color: #33cc33">Thank you for submitting your email!</p>
		</div>
	<% end%>
	
	<div data-role = "content", style="margin: -1em 0 0 0">
		<p> &#149; <b>That's all!</b> Thanks for trying out our (very brief) demo!</p> 
		<p> &#149; In the <b>full</b> site:
			<div style="margin: 0 0 0 2em">
				<p style="margin: 0 0 0 0"> &#149; There are much <b>more than two pros/two cons</b> for each topic</p>
				<p style="margin: 0.2em 0 0 0"> &#149; All content will be <b>user-generated</b> and <b>editable</b></p>
				<p style="margin: 0.2em 0 0 0"> &#149; ...and much more!</p>
			</div>
		</p>
		<% if current_user.email == nil %>
		<p style="margin: 0.5em 0 0 0"> &#149; Please enter your <b>email</b> address if you would like to be notified of our next <b>demo launch!</b> </p>
	</div>

		<%= form_for @user do |f| %>
			<div style="text-align: center">
				<%= f.label "Email:" %>
			</div>
			<div style="padding: 0 0.5em 0 0.5em">
				<%= f.text_field :email %>
			</div>
			<div style="padding: 0 5em 0 5em">	
				<%= f.submit "Submit", "data-theme"=>"k" %>
			<div>
		<% end %>
	<% end %>
</div>