<div data-role = "page" id = "main">
	<div data-role = "header" data-position = "fixed" data-theme = "f">

			<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
				<div class = "ui-block-a">
					<a href = "#menu" data-role = "button" data-mini = "true" data-theme = "k" data-icon = "grid">Menu</a>
				</div>
				<div class = "ui-block-b" style = "text-align: center">fuseGap</div>
				<div class = "ui-block-c" style = "text-align: right">
					<a href = "#todo" data-role = "button" data-mini = "true" data-theme = "k" data-icon = "gear" data-iconpos = "right">ToDo</a>
				</div>
			</div>

	</div>
	<div data-role = "content" style = "text-align: center">
		Welcome to fuseGap! The most efficient way to learn <span style = "font-weight: bold">both sides</span> of a debatable topic
	</div>
		<div class = "ui-grid-b">
			<div class = "ui-block-a"></div>
			<div class = "ui-block-b">
				<div style = "margin: 0 -5em 0 -5em">
					<%= link_to("New User", new_user_path, "data-role"=>"button", "data-theme"=>"k") %>
					<%= link_to("Returning User", slidemenu_path, "data-role"=>"button", "data-theme"=>"j") %>
				</div>
			</div>
		</div>	
	<div data-role = "footer" data-position = "fixed" data-theme = "f">
		<h1>fuseGap</h1>
	</div>
</div>