<div data-role = "page">
	<div data-role = "header" data-position = "fixed" data-theme = "f">
		<h1>fuseGap</h1>
	</div>
	</br>
	<%= form_for @password do |f| %>
		<div style="text-align: center; margin: 2em 0 0 0">
			<%= f.label "Please enter the demo password:" %>
		</div>
		<div style="padding: 0 0.5em 0 0.5em">
			<%= f.password_field :why_fail1 %>
		</div>
		<div style="padding: 0 5em 0 5em">	
			<%= f.submit "Submit", "data-theme"=>"k" %>
		<div>
	<% end %>

	<div data-role = "footer" data-position = "fixed" data-theme = "f">
		<h1>fuseGap</h1>
	</div>
</div>