<div data-role = "page">
	<div data-role = "header" data-position = "fixed">
		<h1>fuseGap</h1>
	</div>
	<div data-role = "content">
		<p style = "text-align: center">Please select which of the following best reflects your political views:</p>
		<ul data-role = "listview">
			<li><%= link_to("Liberal", liberal_path, "data-theme"=>"") %></li>
			<li><%= link_to("Conservative", conservative_path, "data-theme"=>"") %></li>
			<li><%= link_to("Independent", independent_path, "data-theme"=>"") %></li>
		</ul>
	</div>
	
	
	
	<div data-role = "footer" data-position = "fixed">
		<h1>fuseGap</h1>
	</div>	
</div>


