<head>
	<title>FB Style Menu</title>
	<meta id="extViewportMeta" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="stylesheet" href="css/jquery.mobile-1.0rc2.min.css" />
	<link rel="stylesheet" href="css/main.css?v=31" />
	<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.mobile-1.0rc2.min.js"></script>
	<script type="text/javascript" src="test.js"></script>
</head>

<div id = "menu" style = "width: 250px; float:left; display: none">
	<h3>Menu</h3>
	<ul>
		<li class="active"><a href="#home" class="contentLink">Home </a></li>
		<li><a href="#home" data-role = "button" class="contentLink">About </a></li>
		<li><a href="#home" class="contentLink">Portfolio </a></li>
		<li><a href="#home" class="contentLink">Contact </a></li>
			
	</ul>
</div>

<div id="home"style = "float:left">
	<div data-role="header">
		<a href="#"class="showMenu">Menu</a>
		<h1>FB Style Menu</h1>
	</div><!-- /header -->
	
	<div data-role="content">
		<p><strong>Note: You can swipe right/left to show/close menu.</strong></p>
	</div>
</div>