<!DOCTYPE html>
<html>
<head>
  <title>fuseGap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
    <link rel="stylesheet" href="arc2theme.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<%= yield %>
	
	<div data-role = "page" id = "menu">
		<div data-role = "header" data-position = "fixed" data-theme = "f">
			<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
				<div class = "ui-block-a"></div>
				<div class = "ui-block-b" style = "text-align: center">Menu</div>
				<div class = "ui-block-c">
					<a href = "#" data-rel = "back" data-transition = "slide" data-role = "button" data-mini = "true" data-theme = "g" data-icon = "arrow-r" data-iconpos = "right">Back</a>
				</div>
			</div>
		</div>
		This is a Menu
	</div>
	
	<div data-role = "page" id = "todo">
		<div data-role = "header" data-position = "fixed" data-theme = "f">
			<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
				<div class = "ui-block-a">
					<a href = "#" data-rel = "back" data-transition = "slide" data-role = "button" data-mini = "true" data-theme = "g" data-icon = "arrow-l">Back</a>
				</div>
				<div class = "ui-block-b" style = "text-align: center">To Do</div>
				<div class = "ui-block-c"></div>
			</div>
		</div>
		This is a To Do list
	</div>
	
</body>
</html>
